<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
    <v-app-bar
      app
      color="white"
      flat
    >
      <v-container class="py-0 fill-height">
        <v-avatar
          class="mr-10"
          color="grey darken-1"
          size="32"
        ></v-avatar>

        <v-btn
          v-for="link in links"
          :key="link"
          text
        >
          {{ link }}
        </v-btn>

        <v-spacer></v-spacer>

        <v-responsive max-width="260">
          <v-text-field
            dense
            flat
            hide-details
            rounded
            solo-inverted
          ></v-text-field>
        </v-responsive>
      </v-container>
    </v-app-bar>

    <v-main class="grey lighten-3">
      <v-container>
        <v-row>
          <v-col cols="2">
            <v-sheet rounded="lg">
              <v-list color="transparent">
                <v-list-item
                  v-for="n in 5"
                  :key="n"
                  link
                >
                  <v-list-item-content>
                    <v-list-item-title>
                      謎解き {{ n }}
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <v-divider class="my-2"></v-divider>

                <v-list-item
                  link
                  color="grey lighten-4"
                >
                  <v-list-item-content>
                    <v-list-item-title>
                      Refresh
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-sheet>
          </v-col>

          <v-col>
            <v-sheet
              min-height="70vh"
              rounded="lg"
            >
            <v-row
            justify="center"
            style="min-height: 160px;"
          >
          <v-sparkline
    :value="value"
    :gradient="gradient"
    :smooth="radius || false"
    :padding="padding"
    :line-width="width"
    :stroke-linecap="lineCap"
    :gradient-direction="gradientDirection"
    :fill="fill"
    :type="type"
    :auto-line-width="autoLineWidth"
    auto-draw
  ></v-sparkline>
  
            <v-card
                class="mx-auto" 
                elevation="2"
                width="600px"
            >
                問題①:硬式テニスで０点のことを２文字で何と言うでしょう？</v-card>
            </v-row>

            <v-row
            justify="center"
            style="min-height: 160px;"
          >

          <v-col class="shrink">
            <v-img
              class="ma-2"
              max-height="200"
              max-width="150"
              src="robo_blue2d.png"
            >
            </v-img>
          </v-col>

            <v-col class="shrink">
              <v-btn
                class="ma-2"
                color="third"
                @click="expand = !expand"
              >
                ラブですよ
              </v-btn>
              <v-expand-transition>
                <v-col
                  v-show="expand"
                  height="100"
                  width="100"
                  align-content="center"
                  class="primary text-h1"
                >
                <p class="white--text text--lighten-1 text-center text-align-center">○</p>
            </v-col>
              </v-expand-transition>
            </v-col>

            <div class="mx-4 hidden-sm-and-down"></div>
            <v-col class="shrink">
              <v-btn
                class="ma-2"
                color="third"
                @click="expand2 = !expand2"
              >
                サブ
              </v-btn>
              <v-expand-x-transition>
                <v-col
                  v-show="expand2"
                  height="100"
                  width="100"
                  align-content="center"
                  class="secondary text-h1"
                >
                <p class="red--text text--lighten-1 text-center text-align-center">×</p>
            </v-col>
              </v-expand-x-transition>
            </v-col>


          </v-row>
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    const gradients = [
    ['#222'],
    ['#42b3f4'],
    ['red', 'orange', 'yellow'],
    ['purple', 'violet'],
    ['#00c6ff', '#F0F', '#FF0'],
    ['#f72047', '#ffd200', '#1feaea'],
  ]
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
      links: [
        'デジタルツイン謎解きゲーム',
        'メッセージ',
        'スコア',
        'Updates',
        ],
      expand: false,
      expand2: false,
      width: 2,
      radius: 10,
      padding: 8,
      lineCap: 'round',
      gradient: gradients[5],
      value: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0],
      gradientDirection: 'top',
      gradients,
      fill: false,
      type: 'trend',
      autoLineWidth: false,
        })
    })
  </script>
</body>
</html>
